<div class="topic-detail-page">
  <div class="topic-detail-page__header">
    <div class="header-pipe"></div>
    Climbing Flowers in Clay Soils
  </div>

  <div class="topic-detail-page__body mt-4 mx-3">
    <div class="topic-detail-page__body--header row">
      <div class="header-left col-3">Kullanıcı</div>
      <div class="header-right col-9">Mesaj</div>
    </div>

    <div class="detail-container mt-3">
      <div class="detail-container__top row">
        <div class="user-profile col-3">
          <div class="avatar-wrapper mb-2">
            <img src="" alt="" />
          </div>
          <div class="user-name mb-1">User-0006</div>
          <div class="user-status mb-1">Yeni Başlayan</div>
        </div>
        <div class="col-9">
          <div class="date-info mb-1">16 Şubat 2024 20:20:31</div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
            voluptates perferendis repellat, rerum esse eveniet dolore magni
            sapiente cumque, non nihil obcaecati perspiciatis autem nemo
            voluptatibus! Tempora iste dolore consequuntur, aliquid minus
            corporis mollitia facilis odit temporibus veritatis, quod
            laboriosam, sit labore eveniet corrupti sint.
          </div>
        </div>
      </div>
      <div class="detail-container__bottom row">
        <div class="text">15 yanit verildi</div>
        <div></div>
      </div>
    </div>

    <div class="detail-container mt-3">
      <div class="detail-container__top row">
        <div class="user-profile col-3">
          <div class="avatar-wrapper mb-2">
            <img src="" alt="" />
          </div>
          <div class="user-name">User-0006</div>
          <div class="user-status">Yeni Başlayan</div>
        </div>
        <div class="col-9">
          <div class="date-info">16 Şubat 2024 20:20:31</div>
          <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
            voluptates perferendis repellat, rerum esse eveniet dolore magni
            sapiente cumque, non nihil obcaecati perspiciatis autem nemo
            voluptatibus! Tempora iste dolore consequuntur, aliquid minus
            corporis mollitia facilis odit temporibus veritatis, quod
            laboriosam, sit labore eveniet corrupti sint.
          </div>
        </div>
      </div>
      <div class="detail-container__bottom row">
        <div class="text col-3">15 yanit verildi</div>
        <div class="col-9 d-flex justify-content-end">
            <i class="fa-duotone fa-star"></i>
            <i class="fa-duotone fa-star"></i>
        </div>
      </div>
    </div>
  </div>
</div>
