<div class="category-row">
    <div class="row">
        <div class="col-6 category-first-col d-flex align-items-center ps-3">
            <div class="col-icon d-flex">
                <img src="assets/images/flower_icon.png" alt="">
            </div>
            <div class="first-col-title">Hello new sub category title</div>
        </div>
        <div class="col-3 category-second-col">
            <div class="second-col-title">8 topics</div>
        </div>
        <div class="col-3 category-col">
            <div class="category-col-title">No Topics</div>
        </div>
    </div>
</div>
