<div class="home-page">
  <div class="table-container mt-3">
    <div class="plts-table-wrapper">
      <div class="plts-table plts-table--topics">
        <div class="plts-table__header">
          <div class="plts-table__col">Hello New Category</div>
        </div>
        <div class="plts-table__body">
          <div class="plts-table__subtitle row">
            <div class="col-6 subtitle-col">BAŞLIK</div>
            <div class="col-3 subtitle-col">İSTATİKLER</div>
            <div class="col-3 subtitle-col">SON POST</div>
          </div>
          <div class="plts-table__row row" (click)="openTopicPage()">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container mt-5 mb-2">
    <div class="plts-table-wrapper">
      <div class="plts-table plts-table--topics">
        <div class="plts-table__header">
          <div class="plts-table__col">
            Fotoğraf Kameraları ve Video Kameraları
          </div>
        </div>
        <div class="plts-table__body">
          <div class="plts-table__subtitle row">
            <div class="col-6 subtitle-col">BAŞLIK</div>
            <div class="col-3 subtitle-col">İSTATİKLER</div>
            <div class="col-3 subtitle-col">SON POST</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">
              <div class="col-icon">
                <img src="assets/images/flower_icon.png" alt="" />
              </div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.
            </div>
            <div class="plts-table__col col-3">Fatma</div>
            <div class="plts-table__col col-3">15</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
