<div class="topic-page pt-2 px-3">
  <div class="router-link m-3">
    <div class="home-img">
      <img src="assets/images/home.png" alt="" />
    </div>
    <a class="text">Topic Page</a>
  </div>

  <div class="new-topic-btn mt-2 mx-3">
    <button>Yeni Konu</button>
  </div>

  <div class="table-container mx-3 mt-4">

    <div class="plts-table-wrapper">
      <div class="plts-table plts-table--topics">
        <div class="plts-table__header">
          <div class="plts-table__col">Duyurular</div>
        </div>
        <div class="plts-table__body">
          <div class="plts-table__subtitle row">
            <div class="col-6 subtitle-col">Başlık</div>
            <div class="col-2 subtitle-col">Konuyu Başlatan</div>
            <div class="col subtitle-col">Cevaplar</div>
            <div class="col subtitle-col">Okunma</div>
            <div class="col subtitle-col">Son Mesaj</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.</div>
            <div class="plts-table__col col-2">Fatma</div>
            <div class="plts-table__col col">15</div>
            <div class="plts-table__col col">120</div>
            <div class="plts-table__col col">Bugün; 15:48:37</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.</div>
            <div class="plts-table__col col-2">Recep</div>
            <div class="plts-table__col col">14</div>
            <div class="plts-table__col col">127</div>
            <div class="plts-table__col col">Bugün; 15:48:37</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.</div>
            <div class="plts-table__col col-2">Gizem</div>
            <div class="plts-table__col col">35</div>
            <div class="plts-table__col col">180</div>
            <div class="plts-table__col col">Bugün; 15:48:37</div>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="table-container mx-3 mt-5">

    <div class="plts-table-wrapper">
      <div class="plts-table plts-table--topics">
        <div class="plts-table__header">
          <div class="plts-table__col">Duyurular</div>
        </div>
        <div class="plts-table__body">
          <div class="plts-table__subtitle row">
            <div class="col-6 subtitle-col">Başlık</div>
            <div class="col-2 subtitle-col">Konuyu Başlatan</div>
            <div class="col subtitle-col">Cevaplar</div>
            <div class="col subtitle-col">Okunma</div>
            <div class="col subtitle-col">Son Mesaj</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.</div>
            <div class="plts-table__col col-2">Fatma</div>
            <div class="plts-table__col col">15</div>
            <div class="plts-table__col col">120</div>
            <div class="plts-table__col col">Bugün; 15:48:37</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.</div>
            <div class="plts-table__col col-2">Recep</div>
            <div class="plts-table__col col">14</div>
            <div class="plts-table__col col">127</div>
            <div class="plts-table__col col">Bugün; 15:48:37</div>
          </div>
          <div class="plts-table__row row">
            <div class="plts-table__col col-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam.</div>
            <div class="plts-table__col col-2">Gizem</div>
            <div class="plts-table__col col">35</div>
            <div class="plts-table__col col">180</div>
            <div class="plts-table__col col">Bugün; 15:48:37</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  
</div>
