<div class="home-page-wrapper">
  <div class="home-page-wrapper__top">
    <div class="router-link">
      <div class="home-img">
        <img src="assets/images/home.png" alt="" />
      </div>
      <a class="text">Home > home-page</a>
    </div>
    <div class="search-bar">
      <input type="search" />
      <div class="input-text">Search...</div>
      <div class="search-icon">
        <img src="assets/images/search_icon.svg" alt="" />
      </div>
    </div>
  </div>

  <div class="home-page-wrapper__bottom">
    
  </div>
</div>
