<div class="category-table">
    <div class="category-table-header">
        <div class="header-title">Hello New Category</div>
    </div>
    <div class="subtitle row">
        <div class="col-6 subtitle-col">TITLE</div>
        <div class="col-3 subtitle-col">STATISTIC</div>
        <div class="col-3 subtitle-col">LAST POST</div>
    </div>
    <div class="categories">
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
    </div>
</div>