.category-table {
    .category-table-header {
        padding: 5px 10px;
        background-color: #e59394;

        display: flex;
        align-items: center;

        .header-title {
            font-size: 16px;
            color: white;
        }
    }

    .seperate {
        width: 200px;
        height: 20px;
        background-color: #e59398;
        border-left: 2px solid black;
        background: linear-gradient(to bottom right, transparent 50px, blue 50px);
    }

    .subtitle {
        background-color: white;  
        padding: 5px;

        .subtitle-col {
            font-size: 14px;
            color: #e59394;
        }
    } 
}