<div class="category-table">
    <div class="category-table-header">
        <div class="header-title">{{config.headerTitle}}</div>
    </div>
    
    <div class="subtitle row">
        <!-- <ng-container *ngFor="let rowData of config.dataList">
            <ng-container *ngFor="let colItem of config.columnOptions">
                <div class="subtitle-col" [ngClass]="colItem.customClass">
                    {{colItem.headerSubtitle}}
                </div>
            </ng-container>
        </ng-container> -->
        <div class="col-6 subtitle-col">TITLE</div>
        <div class="col-3 subtitle-col">STATISTIC</div>
        <div class="col-3 subtitle-col">LAST POST</div>
    </div>
    <!-- <div class="categories">
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
        <div class="mb-1">
            <app-category-row></app-category-row>
        </div>
    </div> -->
</div>

<div class="plts-table-wrapper">
    <div class="plts-table plts-table--topics">
        <div class="plts-table__header">
            <div class="plts-table__col">

            </div>
        </div>
        <div class="plts-table__body ">
            <div class="plts-table__row">
                <div class="plts-table__col"></div>
            </div>
        </div>
    </div>
</div>