/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
}

body {
  font-family: "Open Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.custom-font {
  font-family: 'HoboR';
}
